extends: default
rules:
  document-start: disable
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length:
    max: 160
    level: warning
  truthy: disable
  indentation:
    spaces: 2
    indent-sequences: false
ignore: |
  default/roles
