- name: remove pin from package
  file:
    path: /etc/apt/preferences.d/ansible-hold-{{ item.key }}
    state: absent
  when: item.value | default('') == ''

- name: pin package
  copy:
    dest: /etc/apt/preferences.d/ansible-hold-{{ item.key }}
    content: |
      Package: {{ item.key }}
      Pin: version {{ item.value }}
      Pin-Priority: 1001
    mode: 0644
  when: item.value | default('') != ''
